#title {
  text-align: center;
}

#color-palette {
  margin-left: 565px;
  width: 580px;
  height: 500px;
  display: flex;
}

.color {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

#pixel-board {
  margin-left: 550px;
  width: 250px;
  height: 200px;
  display: inline-block;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
}
